<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 서버의 시간 -->
  <h4>
    현재 서버 시간: <%= date %>
  </h4>

  <!-- 아래 ejs 코드도 서버에서 실행됨 -->
  <h4>
    현재 서버 시간: <%= new Date() %>
  </h4>
</body>

</html>