.header-top {
  max-width: 1150px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 20px;
  position: relative;
  background-color: blue;
  position: relative;
  text-align: right;
}

.user-menu {
  display: inline-block;
}


